@import "normalize.css";
.body {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  cursor: pointer;
  outline: none;
}